DATABASE_STRING= "mongodb+srv://shahswar:admin123@cluster0.bbrexfo.mongodb.net/?retryWrites=true&w=majority"
PORT= '4000'
SECRET_KEY='very secret key'
MAIL_EMAIL=craft.fus@gmail.com
MAIL_PASSWORD=agalphdpttmjpqdp
server_key = "AAAAXUfp6UI:APA91bHR0ut5ehq1yCe8R9g7sibAwJLQIHrnlSCAfj9is2ynvVs9IavVvSMJhdAGpj9bLhV9PYZ4IoBSXCrwvowBaddIj54eJXpu8cSqDZcbERwgnloD1GUSKuS1hcaSGeOdkr_diUPA"